<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jastkand.standup</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5A8DCB94-E068-4A1E-9C75-C0D3DDCDCC6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD92E83A-3984-4784-AC45-03722670BC63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>867CED82-C863-4456-B8A2-752F09EF15D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A8DCB94-E068-4A1E-9C75-C0D3DDCDCC6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD92E83A-3984-4784-AC45-03722670BC63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1456B4FE-AFCD-46B0-BE4B-6A3D3FCDEBEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrey Krivko</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Daily stand up</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>standup</string>
				<key>subtext</key>
				<string>Daily stand up</string>
				<key>text</key>
				<string>Get daily stand up</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>867CED82-C863-4456-B8A2-752F09EF15D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>5A8DCB94-E068-4A1E-9C75-C0D3DDCDCC6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0]
print ENV
print query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_time_entries.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD92E83A-3984-4784-AC45-03722670BC63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1456B4FE-AFCD-46B0-BE4B-6A3D3FCDEBEC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1456B4FE-AFCD-46B0-BE4B-6A3D3FCDEBEC</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>5A8DCB94-E068-4A1E-9C75-C0D3DDCDCC6C</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>867CED82-C863-4456-B8A2-752F09EF15D7</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CD92E83A-3984-4784-AC45-03722670BC63</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>IGNORED_TIME_ENTRY</key>
		<string>review</string>
		<key>RELEVANT_PROJECT_IDS</key>
		<string></string>
		<key>TOGGL_API_KEY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>RELEVANT_PROJECT_IDS</string>
		<string>TOGGL_API_KEY</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://krivko.me</string>
</dict>
</plist>
